<ul class="nav nav-tabs" >
  <li role="presentation" (click)="setFilter('allMembers')" ><a href="#">All Members</a></li>
  <li role="presentation" (click)="setFilter('officers')" ><a href="#">Officers</a></li>
  <li role="presentation" (click)="setFilter('committee')" ><a href="#">Committee</a></li>
  <li role="presentation" (click)="setFilter('members')" ><a href="#">Members</a></li>
</ul>

<ul class="list-group" id="contact-list">
  <li *ngFor='let member of members | async' class="list-group-item" (click)="goToDetail(member)">
    <div class="col-xs-12 col-sm-3">
      <img src={{member.image}} class="img-responsive img-circle" />
    </div>
    <div class="col-xs-12 col-sm-9">
      <span class="name">{{member.first_name}} {{member.last_name}}</span><br/>
    </div>
    <div class="clearfix"></div>
  </li>
</ul>
